.body {
  position: absolute;
  top: 0%;
  left: 40%;
  bottom: 30%;
  max-height: 150px;
  max-width: 150px;
  margin: 30px;
  border: 2px solid red;

}

.wheels {
  top: 30%;
  left: 40%;
  position: absolute;
  max-height: 150px;
  max-width: 150px;
  margin: 30px;
  border: 2px solid cyan;

}

.decal {
  top: 60%;
  left: 40%;
  position: absolute;
  max-height: 150px;
  max-width: 150px;
  margin: 30px;
  border: 2px solid green;

}

.character {
  height: 80%;
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(garage.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}